<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="assets/img/bg-image-website-feature.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-md-8">
                <h3>Website Features</h3>
                <p class="font-italic">
                    The hydrology and water quality information system website for the Bengawan Solo River Basin provides data such as:
                </p>
                <ul>
                    <li>
                        <i class="icofont-check"></i>  Rainfall data.
                    </li>
                    <li>
                        <i class="icofont-check"></i>  Climatology Data.
                    </li>
                    <li>
                        <i class="icofont-check"></i>  Water Level Data.
                    </li>
                    <li>
                        <i class="icofont-check"></i>  Drought Data.
                    </li>
                    <li>
                        <i class="icofont-check"></i>  Water Quality Data.
                    </li>
                    <li>
                        <i class="icofont-check"></i>  Debt Monitoring Online Data.
                    </li>
                </ul>
                <p>These data were obtained from hydrology post observers and telemetry tools scattered in the Bengawan Solo River Region.</p>
            </div>
        </div>
    </div>
</div>