<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="assets/img/serayu.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-md-8">
                <h3>Description of Serayu River</h3>
                <p class="font-italic font-weight normal">
                    Serayu River or Bengawan Serayu is one of the rivers in Central Java, Indonesia, about 300 km southeast of the capital
                    city of Jakarta. Stretching from northeast to southwest as far as 181 km, this river crosses five districts namely
                    Wonosobo Regency, Banjarnegara Regency, Purbalingga Regency, Banyumas Regency, until it empties into the Indian Ocean in
                    the Cilacap Regency area.
                    
                    The headwaters of this river are on the slopes of Mount Prahu in the Dieng area, Wonosobo. The water spring is known as
                    Tuk Bima Lukar (Bima Lukar spring). Having many tributaries, the total watershed area of the Serayu reaches 4,375 km².
                    Flowing more or less to the west-southwest, on the south side this flow is bounded by a row of hills called the South
                    Serayu Mountains.
                    
                    This river flows in the south central region of the island of Java, which has a tropical monsoon climate. The average
                    annual temperature is around 24 °C. The hottest month is March, when the average temperature is around 25 °C, and the
                    coldest is August, at 23 °C. The annual average rainfall is 3897 mm. The wettest month is January, with an average of
                    561 mm rainfall, and the driest is September, with an average of 34 mm.
                </p>
                <!-- <ul>
                    <li>
                        <i class="icofont-check"></i>  Rainfall data.
                    </li>
                    <li>
                        <i class="icofont-check"></i>  Climatology Data.
                    </li>
                    <li>
                        <i class="icofont-check"></i>  Water Level Data.
                    </li>
                    <li>
                        <i class="icofont-check"></i>  Drought Data.
                    </li>
                    <li>
                        <i class="icofont-check"></i>  Water Quality Data.
                    </li>
                    <li>
                        <i class="icofont-check"></i>  Debt Monitoring Online Data.
                    </li>
                </ul>
                <p>These data were obtained from hydrology post observers and telemetry tools scattered in the Serayu River Region.</p> -->
            </div>
        </div>
    </div>
</div>