<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Add Data Rainfall</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" (click)="activeModal.close('close')">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup" class="w-100">
    <div class="form-group">
      <label>Year:</label>
      <input formControlName="year" autocomplete="off" class="form-control" name="date">
    </div>
    <div class="form-group">
      <label >Month:</label>
      <ng-select
        [items]="dataOptions"
        bindLabel="name"
        bindValue="id"
        formControlName="month"
      ></ng-select>
    </div>
    <div class="form-group">
      <label>dewpoint:</label>
      <input type="text" class="form-control" placeholder="Pos ID" formControlName="dewpoint_2m_temperature">
    </div>
    <div class="form-group">
      <label>Maximum Temperature (°C):</label>
      <input type="text" class="form-control" placeholder="Input Maximum Temperature (°C" formControlName="maximum_2m_air_temperature">
    </div>
    <div class="form-group">
      <label>Mean Temperature (°C):</label>
      <input type="text" class="form-control" placeholder="Input Mean Temperature (°C)" formControlName="mean_2m_air_temperature">
    </div>
    <div class="form-group">
      <label>Minimum Temperature (°C):</label>
      <input type="text" class="form-control" placeholder="Input Minimum Temperature (°C)" formControlName="minimum_2m_air_temperature">
    </div>
    <div class="form-group">
      <label>Total Prepicitation:</label>
      <input type="text" class="form-control" placeholder="Enter Total Prepicitation" formControlName="total_precipitation">
    </div>
    <div class="form-group">
      <label>Horizontal Vertical:</label>
      <input type="text"  class="form-control" placeholder="Enter Horizontal Vertical" formControlName="u_component_of_wind_10m">
    </div>
    <div class="form-group">
      <label>Vertical Wind:</label>
      <input type="text"  class="form-control" placeholder="Enter Vertical Wind" formControlName="v_component_of_wind_10m">
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="left-side">
    <button type="button" class="btn btn-default btn-link" (click)="save(formGroup.value)">Save</button>
  </div>
  <div class="divider"></div>
  <div class="right-side">
    <button type="button" class="btn btn-danger btn-link" (click)="activeModal.close('Close click')">Back</button>
  </div>
</div>
